.carousel {
    &__inner {
        display: block;
        position: relative;
        width: 1412px;
        margin: 0 auto;
        overflow: visible;
    }
    &__wrapper {
        width: 601px;
        margin: 0 auto;
    }
    &__img {
        display: block;
        width: 114px;
        height: 114px;
        margin: 0 auto;
        margin-bottom: 19px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__text {
        text-align: justify;
        text-align-last: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    &__subtitle {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.57;
        color: #3a3a3a;
        margin-bottom: 12px;
    }
    &__descr {
        font-size: 14.1px;
        font-weight: 300;
        line-height: 22px;
        width: 600px;
        margin: 0;
    }
}

.slick-slide {
    transform: scale(.5);
    opacity: .3;
    transition: all .3s ease-in;
}

.slick-current {
    transform: scale(1);
    opacity: 1;
}

.slick-prev, .slick-next {
    position: absolute;
    width: 15px;
    height: 47px;
    top: 15%;
    left: calc(50% - 100px);
    transform: translateY(-25%);
    background-color: #fff;
    border: none;
}
.slick-next {
    right: calc(50% - 100px);
    left: auto;
}