.promo {
    padding: 23px 0 82px;
    background: url('../img/backround_promo.png') no-repeat center center / cover;
    min-height: 100vh;
    &__descr {
        padding: 9px 0 38px;
    }
    &__divider {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 27px;
        &::after,
        &::before {
            content: "";
            display: block;
            width: 390px;
            height: 2px;
            background-color: #fff;
        }
    }
    &__circle {
        width: 9px;
        height: 9px;
        border-radius: 100%;
        margin: 0 12px;
        background-color: #fff;
    }
    &__icons {
        display: flex;
        justify-content: space-between;
        align-items: start;
        align-content: start;
        margin-top: 27px;
        margin-bottom: 39px;
    }
    &__icon {
        text-align: center;
        width: 260px;
        /* max-height: 130px; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }
    &__img {
        width: 67px;
        height: 63px;
        display: block;
        margin: 0 auto;
        margin-bottom: 16px;
        align-items: start;
    }
    &__text {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.38;
        color: #fff;
        text-align: center;
    }
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        min-width: 96px;
        img {
            width: 100%;
        }
    }
    &__menu {
        margin-left: 5px;
        list-style-type: none;
/*         margin: 0; */
        padding-left: 0;
        display: flex;
    }
    &__item {
        padding-right: 12px;
        &:last-child {
            padding-right: 0;
            &:after {
                display: none;
            }
        }
        &::after {
            content: "";
            border-left: 1px dashed #fff;
            margin-left: 12px;
            opacity: 0.4;
        }
    }
    &__link {
        position: relative;
        font-size: 15px;
        line-height: 17px;
        color: #fff;
        text-decoration: none;
        font-weight: 400;
        color: #fff;
        text-decoration: none;
        transition: all 0.5s ease-out;
        &:before {
            content: "";
            position: absolute;
            height: 1px;
            width: 100%;
            background: $main-color;
            bottom: 0;
            left: 0;
            opacity: 0;
            transition: all .3s ease-in;
        }
        &:hover {
            color: $main-color;
            &:before {
                opacity: 1;
                bottom: -3px;
            }
       }
       &:active {
            color: $focus-color;
            transition: all .1s ease;
            &:before {
                background: $focus-color;
            }
       }
    }
}