.questions {
    padding: 62px 0 79px;
    background: url('../img/backround_questions.png') no-repeat center center / cover;
    &__block {
        background-color: rgb(255, 255, 255, 0.7);
        max-width: 896px;
        margin: 0 auto;
    }
    &__header {
        background-color: #25333c;
    }
    &__title {
		font-weight: 700;
		text-transform: uppercase;
		padding-top: 20px;
		line-height: 12px;
    }
    &__subtitle {
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		color: #ffffff;
		padding-bottom: 12px;
    }
    &__form {
        textarea {
			width: 91%;
			height: 73px;
			background-color: #ffffff;
			border: 1px solid rgba(0, 0, 0, 0.2);
			margin: 0 auto;
			display: block;
			resize: none;
			border-radius: 10px;
			padding-left: 27px;
			opacity: 0.9;
			font-size: 13px;
			line-height: 24px;
			font-weight: 300;
			font-size: 13px;
			line-height: 51px;
			font-weight: 300;
			color: #101010;
			&:focus,
			&:active {
				outline: none;
                border-color: $main-color;
                box-shadow: 0 0 1px $main-color;
			}
		}
    }

    &__input {
        input {
            margin: 17px 0 10px;
        }
    }

    &__btn {
        display: block;
        margin: 0 auto;
        padding: 16px 0 25px;
    }
}