.questions {
    background: url('../img/backround_questions.png') no-repeat center center / cover;
    &__block {
        background-color: rgb(255, 255, 255, 0.7);
        max-width: 896px;
        margin: 0 auto;
    }
    &__header {
        height: 68px;
        background-color: #25333c;
    }
    &__text {
        display: block;
        margin: 20px auto;
        top: 10px;
    }
    &__title {
        padding-top: 20px;
        line-height: 12px;
        text-transform: uppercase;
    }
    &__subtitle {
       text-transform: uppercase;
       padding-bottom: 12px;
    }
    &__form {
        textarea {
            width: 813px;
            height: 73px;
            background-color: #fff;
            border: 1px solid rgba(0,0,0,.2);
            margin: 0 auto;
            display: block;
            resize: none;
            border-radius: 10px;
            padding-left: 27px;
            opacity: .9;
            font-size: 13px;
            line-height: 24px;
            font-weight: 300;
            font-size: 13px;
            line-height: 51px;
            font-weight: 300;
            color: #101010;
            background: #fff;
        }
        textarea:focus { 
            outline: none;
            border-color: $main-color;
            box-shadow: 0 0 1px $main-color;
        }
    }

    &__input {
        input {
            margin: 17px 0 10px;
        }
    }

    &__btn {
        padding-bottom: 25px ;
        display: block;
        margin: 0 auto;
    }
}