@media (max-width: 991px) {
    .agent {
        &__descr {
            font-size: 16px;
        }
    }
}
@media (max-width: 575px) {
    .agent {
        padding: 30px 0 30px;
        &__descr {
            font-size: 12px;
        }
        &__icon {
            width: 90px;
            height: 90px;
        }
    }
}