@media (max-width: 991px) {
    .feed-form {
        &__input {
            display: grid;
            grid-template-columns: repeat(3, minmax(214px, auto));
            justify-content: center;
            column-gap: 6px;
        }
    }
}
@media (max-width: 767px) {
    .feed-form {
        &__input {
            display: grid;
            grid-template-columns: 97%;
            justify-content: center;
            row-gap: 15px;
        }
    }
}
@media (max-width: 575px) {
    .feed-form {
        &__input {
            /* grid-template-columns: 91%; */
            row-gap: 10px;
        }
    }
}