@media (max-width: 1200px) {
    .header {
        &:last-child {
            justify-content: flex-start;
            align-items: flex-end;
        }
    }
    .info {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        &__text {
            display: none;
            text-align: center;
        }
        &__phone {
            text-align: center;
        }
        &__contacts {
            margin: 0;
        }
    }
    .promo {
        &__icons {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__icon {
                margin: 20px 40px 0 40px;
            }
        }
}

@media (max-width: 991px) {
    .promo {
        padding: 60px 0 82px;
        &__descr {
            padding: 30px 0 38px;
        }
    }
    .header {
        position: relative;
        justify-content: space-around;
        align-items: start;
    }
    .menu {
        position: absolute;
        top: -50px;
        right: 60px;
        margin-bottom: 50px;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }
}
@media (max-width: 767px) {
    .header {
        width: 75%;
        justify-content: space-around;
        &__logo {
            max-width: 72px;
        }
    }
    .menu {
        position: fixed;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 0;
        top: 0;
        left: -100%;
        width: 78%;
        height: 100vh;
        padding: 20px 15px;
        transition: 0.8s all;
        &__items {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            height: 100vh;
        }
        &__item {
            margin-bottom: 15px;
        }
        &_active {
            left: 0;
        }
        &__item {
            padding-right: 0;
            border: none;
            font-size: 20px;
            margin: 20px 0;
            &::after {
                display: none;
            }
        }
        &__link {
            padding: 10px 10px;
            font-size: 20px;
        }
    }
    .info {
        &__phone {
            position: static;
            &:before {
                display: none;
            }
        }
    }
    .promo {
        padding: 20px 0 52px;
    }
    .hamburger {
        display: block;
    }
}
@media (max-width: 575px) {
    .header {
        &__logo {
            max-width: 55px;
            
        }
    }
    .info {
        &__phone {
            display: none;
            font-size: 13px;
        }
        &__phone-media {
            position: static;
            display: block;
            font-size: 13px;
        }
    }
    .button {
        width: 135px;
        height: 29px;
        font-size: 10px;
    }
    .promo {
        padding: 20px 0 20px;
        &__descr {
           padding: 30px 0; 
        }
        &__divider {
            margin-bottom: 17px;
        }
        &__icons {
            margin-top: 17px;
            margin-bottom: 25px;
        }
       /*  &__icon {
            margin: 10px 40px 0 40px;
        } */
        &__img {
            width: 60px;
            height: 56px;
        }
        &__text {
            font-size: 12px;
        }
    }
    .menu {
        &__link {
            font-size: 18px;
        }
    }
}